/* -----------------------------------------------------------------------------
// Table of Contents
//
//  - Colors
//  - Reset
//  - Scaffolding
//  - Main Nav Bar
//  - Project Nav Bar
//  - Typography
//  - Footer
//
// -------------------------------------------------------------------------- */

/* --------------------------------------------
// -- Colors
//
// Black:       #222
// Dark gray:   #777
// Light gray:  #bbb
// Red:         #dd4b39
//
// ----------------------------------------- */


/* --------------------------------------------
// !-- Reset
// ----------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 16px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.group:after {
  display: table;
  clear: both;
  content: '';
}

a {
    text-decoration: none;
}

/* --------------------------------------------
// !-- Scaffolding
// ----------------------------------------- */

.wrapper {
    width: 960px;
    margin: 0 auto;
    padding-left: 15px;
}

header {
    position:fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

/*project artwork*/
.banner { 
    display: inline-block;
    position: relative; 
    overflow: hidden; 
    width: 947px;
    margin-right:22px;
    margin-top: 15px;
}

.banner li { 
    list-style: none; 
    padding-bottom: 30px;
}

/*http://codepen.io/RyGanley/pen/JKwaC*/
.enlarge {
    width:74%;
    height: 74%;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.enlarge:hover {
    width: 100%;
    height: 100%;
       -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.footer {
    background-color: #dd4b39;
    height: 49px;
}

.footer_main {
    width: 960px;
    display: inline;
}


/* --------------------------------------------
// !-- Main Nav Bar
// ----------------------------------------- */

.logo {
    display: block;
    float: left;
    padding-bottom: 12px;
    padding-left: 5px;
    width: 20px;
}

.mainnav li a {
    padding-top: 18px;
}

.mainnav a {
    float: right;
    font-weight: 300;
    font-size: 13px; 
    text-transform: uppercase;
    color: #777;
    transition: color .25s ease-in;
    -webkit-transition: color .25s ease-in;
    -moz-transition: color .25s ease-in;
    -o-transition: color .25s ease-in;
    text-align: center;
    display: inline-block;
    line-height: 15px;
    padding-left: 38px;
    padding-top: 15px;
    letter-spacing: .1em;
}

.mainnav a:hover {
    color: #dd4b39;
}

/* --------------------------------------------
// !-- Project Nav Bar
// ----------------------------------------- */

.projectnav {
    position:fixed;
    top: 45px;
    width: 960px;
    background-color: #fff;
    z-index: 1;
    padding-top: 6px;
    border-bottom: 1px dashed #bbb;
    display: inline-block;
}

.projectnav li {
    display: inline;
}

.title {
    color: #777; 
    font-weight: 600;  
}

.projectnav a {
    color: #777;
    float: right;
    padding: 0px 0px 11px 15px;
    font-size: 15px; 
    font-weight: 600;
    transition: color .5s linear;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
}

.projectnav a:hover {
    color: #dd4b39; 
}

.rightarrow a {
    padding-left: 31px;
}

.leftarrow a {
    padding-right: 33px; 
}

/*Project Number*/
.projectnav li h5 {
    float: right;
    display: inline;
    font-weight: 300;
    font-style: italic;
    color: #777;
    font-size: 13px;
    padding-top: 2px;
}

/*Project Story*/
.description {
    display: inline;
    float: left;
    margin-top: 105px;
    width: 700px;
    line-height: 1.5em;
}

/* --------------------------------------------
// !-- Typography
// ----------------------------------------- */

h5 {
    font-weight: 200;
    color: #777;
    transition: color .25s ease-in;
    -webkit-transition: color .25s ease-in;
    -moz-transition: color .25s ease-in;
    -o-transition: color .25s ease-in;
    font-size: 20px;
    padding-bottom: 5px;
}

.projectnav h4{
    padding-bottom: 3px;
    display: inline;
    font-weight: 700;
    color: #777;
    font-size: 15px;
    line-height: 1.5em;
}

.description-int {
    border-top: 1px dashed #bbb;;
    float: left;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 700px;
    line-height: 1.5em;
}

#description-int-oneg {
    border-top: 1px dashed #bbb;;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 700px;
    line-height: 1.5em;
}

/* --------------------------------------------
// !-- Footer
// ----------------------------------------- */

#nostealing {
    color: #222;
    float: left;
    width: 200px;
    padding-top: 12px;
}

.foot_twitter a, .foot_linkedin a, .foot_email a{
    float: right;
    width: 24px;
    padding-right: 35px;
    opacity: 0.7;
    margin-top: 4px;
    transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}

.foot_twitter a {
    padding-top: 7px;
    padding-left: 20px;
}

.foot_linkedin a {
    padding-top: 4px;
    padding-left: 20px;
}

.foot_email a {
    padding-top: 8px;
}

.foot_twitter a:hover, .foot_linkedin a:hover, .foot_email a:hover {
    opacity: 1.0;
}
