.wrapper {
	width: 960px;
	margin: auto;
	padding: 0 20px;
}


header {
	padding: 16 0 16 0px;
	position:fixed;
	width: 100%;
	background-color: white;
}

.logo {
	float: left;
	padding-bottom: 2px;
}

.top {
	background-image: url('../images/photo-1.JPG');
	background-repeat: no-repeat;
	background-position: -25 -612px;
	height: 550px;
}

.intro {
	float: left;
	padding-top: 222px;
	padding-left: 150px;
}

.what {
	float: left;
	width: 430px;
	padding-top: 225px;
	padding-left: 150px;
}

.what a {
	padding: 15px;
	float: left;
	background-color: red;
	border-radius: 4px;
	width: 130px;
	text-align: center;
	color: #fff;
	font-weight: 300;
	color: #fff;
	font-size: 16px;
	background-image: linear-gradient(#8ec63f, #36471f);
}

h6 {
	display: inline-block;
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: px;
}

.iphone {
	float: left;
	padding-top: 151px;
	display: inline-block;
	padding-left: 50;
} 

.middle {
	background-image: linear-gradient(#999, black);
	height: 330px;
}

.one h6{
	display: block;
	width: 1200;
	padding: 30 0px;
}

.one {
	display: inline-block;
	width: 300;
	float: left;
	padding-right: 20px;
}

.two {
	display: inline-block;
	width: 300;
	float: left;
	padding-right: 20px;
	padding-top: 31px;

}

.three {
	display: inline-block;
	width: 300;
	float: left;
	padding-right: 20px;
	padding-top: 31px;

}

nav a {
	float: right;
	display: inline-block;
	padding: 10 0 8 0px;
	text-transform: uppercase;
	color: #999;
	font-size: 11px;	
	text-align: center;
	width: 80px;
	letter-spacing: .1em;
}

nav a:hover {
	color: #77a33a;
	display: block;
	background-color: rgb(238, 238, 238);
	border-radius: 4px;
}

a, h1, h4 {
	text-decoration: none;
	color: white;
}

h1 {
	color: white;
	font-size: 20px;
	line-height: 28px;
	display: inline-block;
	padding: 20 0px;
}

h4 {
	color: #fff;
	font-size: 26px;
	line-height: 32px;
	display: inline-block;
	padding: 15 0px;
}




.signup {
	clear: all;
	float: left;
	display: block;
	padding: 20 0px;
	width: 130px;
}

footer {
	clear: all;
	background-image: linear-gradient(#8ec63f, #36471f);
	padding: 20 0 240 0px;
	padding-right: 100;
	text-transform: uppercase;
	color: #999;
	font-size: 11px;	
	letter-spacing: .1em;
}

