
/* --------------------------------------------
// !-- Reset
// ----------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 1em;
/*  background-color: yellow;
*/  font-family: Open Sans;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.group:after {
  display: table;
  clear: both;
  content: '';
}

a {
  text-decoration: none;
}

section {
    cursor: pointer;
}

/* --------------------------------------------
// !-- Scaffolding
// ----------------------------------------- */

.wrapper {
  margin: 0 auto;
  width: 80%;
/*  background-color: yellow;
*/}

/* --------------------------------------------
// !-- Header / Nav bar
// ----------------------------------------- */

header {
  background-color: gold;
  opacity: 0.9;
  position: fixed;
  height: 65px;
  top: 0;
  width: 100%;
  z-index: 1;
}

header h1 {
  color: orange;
  line-height: 65px;
  font-weight: 800;
  letter-spacing: .05em;
}

.method, .method-focus {
  margin: 2% auto;
  padding-bottom: 2em;
  border-bottom: 1px solid lightgray;
}

.first {
  margin-top: 10%;
}

.position {
}

.last {
  margin-bottom: 15%;
}

h1 {
  color: #777;
  font-size: 1.5em;
  font-weight: 200;
  margin-bottom: 1em;
}

p {
  margin-top: 1em;
  color: #777;
}

.textBox-2 p {
  margin-top: 0em;
}

h2 {
  margin-top: 1em;
  color: maroon;
  font-size: .75em;
  font-weight: 600;
}

h3 {
  color: #bbb;
  font-size: .625em;
  font-weight: 800;
  letter-spacing: .02em;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  color: #777;
  font-size: .7em;
  font-weight: 400;
  letter-spacing: .02em;
  margin-top: 1em;
}

.btn {
  background: blue;
  width: 200px;
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .3s ease-out;
}

.btn:hover {
  background: darkblue;
}

.second {
  background-color: red;
}

.second:hover {
  background-color: darkred;
}

.third {
  background-color: green;
}

.third:hover {
  background-color: darkgreen;
}


.fourth {
  background-color: darkviolet;
}

.fourth:hover {
  background-color: purple;
}

.textBox-1 {
  margin: 0px auto;
}

.textBox-2 {
  width: 50%;
  background: yellow;
  padding: 10px;
  margin-top: 1em;
}

.textBox-3 {
  width: 50%;
}

input {
  padding: 3px;
  margin-right: 1%;
}

span, #down, #down2 {
  display: none;
}




/* Smartphones (PORTRAIT) ----------- */
@media (min-width: 320px) and (max-width: 750px)  {  
/* structure */
.wrapper {
  width: 95%;
/*  background-color: purple;
*/}

.first {
  margin-top: 28%;
}

.textBox-2, .textBox-3 {
  width: 94%;
}


/* smartphone (LANDSCAPE) ----------- */
@media (min-width: 510px) and (max-width: 695px)  {  

.first {
  margin-top: 15%;
}

}