/* -----------------------------------------------------------------------------
// Table of Contents
//
//  - Colors
//  - Reset
//  - Scaffolding
//  - Main Nav Bar
//  - Landing
//  - Profile
//  - Project Nav Bar
//  - Typography
//  - Footer
//
// -------------------------------------------------------------------------- */

/* --------------------------------------------
// -- Colors
//
// Black:       #222
// Dark gray:   #777
// Light gray:  #bbb
// Red:         #dd4b39
//
// ----------------------------------------- */


/* --------------------------------------------
// !-- Reset
// ----------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 16px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.group:after {
  display: table;
  clear: both;
  content: '';
}

a {
    text-decoration: none;
}

/* --------------------------------------------
// !-- Scaffolding
// ----------------------------------------- */
.wrapper {
    width: 67%;
    margin: 0 auto;
/*    background-color: purple;*/
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  background-color: #eee;
}

header {
    position:fixed;
    width: 100%;
    background-color: #51284f;
    z-index: 1;
}

/* --------------------------------------------
// !-- Main Nav Bar
// ----------------------------------------- */

.mainnav {
  height: 4.063em;
}
.logo {
  display: block;
  float: left;
  margin-top: 1.5em;
  width: 170px;
}

.mainnav ul {

}



.mainnav li a {
  margin-top: 1.5em;
  margin-left: 2%;
  padding-left: 2%;
  display: inline-block;
    height: 2.563em;
  text-transform: uppercase;
}

.mainnav li a:hover  {
  color: #aaa;
  transition: color .1s linear;
}


.mainnav a {
  font-weight: 300;
  letter-spacing: .08em;
  float: right;
  font-size: .85em; 
  color: #fff;
  transition: color .2s ease-in
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
}

#search img {
  padding-left: 1em;
}

/* --------------------------------------------
// !-- Landing
// ----------------------------------------- */

.landing {
    background-color: #eee;
}

.landing h1 {
  padding-top: 1.7em;
  padding-bottom: .875em;
  color: #777;
  font-size: 3.5em;
  line-height: 1.25em;
  display: inline-block;
  border-bottom: 1px dashed #bbb;
}

/* links in intro copy */
.landing a {        
  color: #777;
  transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
  -moz-transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
  -o-transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
}

.landing a:hover {        
    color: #dd4b39;
}

.landing h6, .work h6, #nav_active {
    float: left;
    font-weight: 400;
    margin-left: 2em;
    color: #777;
    padding-top: .9em;
    position: absolute;
    z-index: 1;
    font-size: 1.05em; 
}




/*FOOTER*/

.footer {
  display: inline-block;
  border-top: .5em solid #ccc;
  width: 100%;
  margin-top: 1.85em;
}

/* typography */
.footer h1 {
  clear: all;
  width: 65%;
  padding-top: 1%;
/*  margin-bottom: 1%;*/
  color: #777;
  font-size: 1em;
  display: inline-block;
}


/* copyright */
.footer h4 {
    color: #222;
    font-size: .7em;
    padding-bottom: 5%;
}

.social {
  display: inline-block;
  width: 35%;
  float: right;
  padding-top: .75%;
}

/* social icons*/
.foot_twitter a, .foot_linkedin a, .foot_email a {
  float: right;
  padding-left: 12%;
  opacity: 0.3;
  border-bottom: none;
  transition: opacity .2s ease-in;
  -webkit-transition: opacity .2s ease-in;
  -moz-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
}

/* social icons, positioning */
.foot_twitter a {
    padding-top: 7px;
}

.foot_linkedin a {
    padding-top: 4px;
}

.foot_email a {
    padding-top: 8px;
    padding-right: 5px;
}

.foot_twitter a:hover , .foot_linkedin a:hover , .foot_email a:hover {
    opacity: 0.7;
    border-bottom: none;
}



