/* -----------------------------------------------------------------------------
// Table of Contents
//
//  - Colors
//  - Reset
//  - Scaffolding
//  - Main Nav Bar
//  - Landing
//  - Profile
//  - Project Nav Bar
//  - Typography
//  - Footer
//
// -------------------------------------------------------------------------- */

/* --------------------------------------------
// -- Colors
//
// Black:       #222
// Dark gray:   #777
// Light gray:  #bbb
// Red:         #dd4b39
//
// ----------------------------------------- */


/* --------------------------------------------
// !-- Reset
// ----------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 1em;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

h2 {
    font-family: serif;
}

h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.group:after {
  display: table;
  clear: both;
  content: '';
}

a {
    text-decoration: none;
}

/* --------------------------------------------
// !-- Scaffolding
// ----------------------------------------- */
.wrapper {
    width: 72%;
    margin: 0 auto;
/*    background-color: purple;*/
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

header {
    position:fixed;
    width: 100%;
    background-color: #51284f;
    z-index: 1;
}

/* --------------------------------------------
// !-- Main Nav Bar
// ----------------------------------------- */

.mainnav {
  height: 4.063em;
}
.logo {
  display: block;
  float: left;
  margin-top: 1.5em;
  width: 170px;
}

.mainnav li a {
  margin-top: 1.5em;
  margin-left: 2%;
  padding-left: 2%;
  display: inline-block;
    height: 2.563em;
  text-transform: uppercase;
}

.mainnav li a:hover  {
  color: #aaa;
  transition: color .1s linear;
}


.mainnav a {
  font-weight: 300;
  letter-spacing: .08em;
  float: right;
  font-size: .85em; 
  color: #fff;
  transition: color .2s ease-in
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
}

#search img {
  padding-left: 1em;
}

/* --------------------------------------------
// !-- Landing
// ----------------------------------------- */

.landing {
  background-color: #777;
  height: 25em;
  width: 100%;
  margin-bottom: 100em;
}

.intro {
padding-top: 8.5em;
}

.intro h1 {
  color: #fff;
  line-height: 1.15em;
  font-size: 2.375em;
/*  display: block;*/
}

.intro h2 {
  color: #fff;
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-size: 2.375em;
  line-height: 1.15em;
  margin-bottom: .5em;
}

#period {
  color: #fff;
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-size: .75em;
}

.intro h3 {
  color: #fff;
  font-size: 1em;
  line-height: 1.438em;
  margin-bottom: .5em;
}

.herotext {
  width: 34%;
}

#sm {
  color: #fff;
  font-family: 'Source Serif Pro';
  font-size: .3em;
  font-weight: 400;
  vertical-align: baseline;
  position: relative;
  top: -1.45em;
}


h6 {
  font-weight: 400;
  color: #fff;
  padding-top: .9em;
  z-index: 1;
  letter-spacing: .075em;
  text-transform: uppercase;
}

/* links in intro copy */
/*.landing a {        
  color: #777;
  transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
  -moz-transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
  -o-transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
}

.landing a:hover {        
    color: #dd4b39;
}*/



/*FOOTER*/

/* more  */

.more {
/*  background-color: pink;*/
  border-top: 1px solid #cdcdcd;
  display: inline-block;
  width: 100%;
  padding-bottom: 7%;
  padding-top: 2.5%;
}


.purplelogo {
  width: 25%;
  display: inline-block;
  float: left;
}

.subscribe {
  width: 50%;
  display: inline-block;
  float: left;
}

.follow {
  width: 25%;
  display: inline-block;
  float: left;
}



/* full navigation */

.full_nav {
/*  background-color: pink;*/
  border-top: 1px solid #cdcdcd;
  display: inline-block;
  width: 100%;
  padding-bottom: 7%;
  padding-top: 2.5%;
}

.full_nav_col {
  width: 25%;
  display: inline-block;
  float: left;
}

.full_nav a {
  font-weight: 400;
  letter-spacing: .08em;
  font-size: .85em; 
  color: #51284f;
  text-transform: uppercase;
}

.full_nav li {
  font-weight: 30;
/*  letter-spacing: .08em;
*/  font-size: .85em; 
  line-height: 1.85em; 
  color: gray;
  padding-bottom: 1px;
}

/* disclosure */
.disclosure h4 {
  color: #222;
  font-size: .7em;
}

.disclosure {
/*  background-color: green;*/
  display: inline-block;
  width: 100%;
  padding-bottom: 5%;
}


.social {
  display: inline-block;
  width: 35%;
  float: right;
  padding-top: .75%;
}

/* social icons*/
.foot_twitter a, .foot_linkedin a, .foot_email a {
  float: right;
  padding-left: 12%;
  opacity: 0.3;
  border-bottom: none;
  transition: opacity .2s ease-in;
  -webkit-transition: opacity .2s ease-in;
  -moz-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
}

/* social icons, positioning */
.foot_twitter a {
    padding-top: 7px;
}

.foot_linkedin a {
    padding-top: 4px;
}

.foot_email a {
    padding-top: 8px;
    padding-right: 5px;
}

.foot_twitter a:hover , .foot_linkedin a:hover , .foot_email a:hover {
    opacity: 0.7;
    border-bottom: none;
}



