/*structure*/
.wrapper {
        width: 960px;
        margin: 0 auto;
        padding-left: 15px;
}

body {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 200;
}

a {
        text-decoration: none;
}

header {
        position:fixed;
        width: 100%;
        background-color: #f3f3f3;
        z-index: 1;
}

.logo {
        float: left;
        width: 20px;
        padding-bottom: 12px;
        margin-left: 42px;
}

.bio {
        background-color: #fff;
        height: 760px;
        padding-bottom: 175px;
}


.profile {
        background: black;
        height: 760px;
        padding-bottom: 175px;
}

.process {
        background: pink;
        height: 760px;
        padding-bottom: 175px;
}


.work, .pro1, .pro2, .pro3, .pro4 {
        background: #fff;
        height: 760px;
        padding-bottom: 175px;
}

.pro5 {
        background: #fff;
        height: 380px;
        padding-bottom: 175px
}

.mainnav a {
        float: right;
        font-weight: 300;
        text-transform: uppercase;
        color: #aaa;
        transition: color .25s ease-in;
        -webkit-transition: color .25s ease-in;
        -moz-transition: color .25s ease-in;
        -o-transition: color .25s ease-in;
        font-size: 13px;        
        text-align: center;
        width: 60px;
        line-height: 15px;
        padding-right: 20px;
        padding-top: 20px;
        letter-spacing: .1em;
}

.mainnav a:hover {
        color: black;
}

.bio h6, .process h6, .profile h6 {
        float: left;
        padding-left: 40px;
        color: #aaa;
        padding-top: 23px;
        position: absolute;
        z-index: 1;
}

.work h6 {
        float: left;
        padding-left: 40px;
        color: #aaa;
        padding-top: 23px;
        position: absolute;
        z-index: 1;
}

#atwork {
        float: left;
        padding-left: 40px;
        color: #bbb;
        padding-top: 23px;
        position: fixed;
        top: 0px;
        z-index: 1;
}

.pro1 h6, .pro2 h6, .pro3 h6, .pro4 h6 {
        float: left;
        padding-top: 80px;
        padding-left: 0px;
        padding-right: 20px;
}

.pro5 h6 {
        float: left;
        padding-top: 80px;
        padding-left: 0px;
        padding-right: 20px;
}

.bio h1 {
        padding-top: 75px;
        color: #bbb;
        font-size: 60px;
        line-height: 1.2em;
        display: inline-block;
        }

.bio a {        
        color: #bbb;
        border-bottom: 1px dashed #ddd;
        transition: color 0.2s linear;
}

.bio a:hover {        
        color: #777;
}

.btn {
        margin-top: 30px;
        padding: 15px;
        color: #ccc;
        border-bottom: none;
        text-transform: uppercase;
        float: left;
        border-radius: 3px;
        width: 130px;
        text-align: center;
        font-size: 12px;
        letter-spacing: 1px;
        transition: background 0.2s linear;
        background: rgb(142,198,63);  /*Old browsers */
        background: -moz-linear-gradient(top,  rgba(142,198,63,1) 0%, rgba(54,71,31,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(142,198,63,1)), color-stop(100%,rgba(54,71,31,1)));  /*Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(142,198,63,1) 0%,rgba(54,71,31,1) 100%); /*Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(142,198,63,1) 0%,rgba(54,71,31,1) 100%); /*Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(142,198,63,1) 0%,rgba(54,71,31,1) 100%); /*IE10+ */
        background: linear-gradient(to bottom,  rgba(142,198,63,1) 0%,rgba(54,71,31,1) 100%); /*W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ec63f', endColorstr='#36471f',GradientType=0 ); /*IE6-9 */
        ;
}

.btn a:hover {
        color: yellow;
}

h6 {
        display: inline;
        font-weight: 300;
        color: #aaa;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: .1em;
        padding-top: 50px;
        padding-bottom: 15px;
        color: black;
}

h5 {
        font-weight: 400;
        color: #555;
        transition: color .25s ease-in;
        -webkit-transition: color .25s ease-in;
        -moz-transition: color .25s ease-in;
        -o-transition: color .25s ease-in;
        font-size: 20px;
        padding-bottom: 5px;
} 

h4 {
        font-weight: 300;
        color: #555;
        font-size: 15px;
        line-height: 1.35em;
        padding-bottom: 5px;
}

h3 {
        font-weight: 400;
        color: red;
        font-size: 12px;
        line-height: 1.35em;
        padding-bottom: 5px;
}


/*arrows to advance projects
*/
.projectnav a {
        position: relative;
        left: 666px;
        top: 20px;
        z-index: 1;
        color: #bbb;
        transition: color .25s linear;
        -webkit-transition: color .25s linear;
        -moz-transition: color .25s linear;
        -o-transition: color .25s linear;
}

.projectnav a:hover {
        color: black;
}

.projectnav a:active {
        color: red;
}


#single_arrowright {
        padding-left: 20px;
}


.portfolio {
        float:left;
        height: 400px;
        padding-top: 0px;        
        padding-right: 20x;
}

.description {
        float: left;
        margin-top: 72px;
        width: 210px;
        border-bottom: 1px dashed red;
        padding-top: 15px;
}

/*.project {
        background-color: yellow;
        margin-top: 20px;
        width: 700px;
        height: 400px;
        display: inline;
}*/

/*HTML  CSS  JS  Result
Edit on 
@import url(http*/
.slider-wrap {
        display: inline-block;
        float: left;
          width: 700px;
          height: 400px;
          margin: 30px auto;
          padding-right: 28px;

}

.slider {
  overflow-x: hidden;
}
.holder {
  width: 300%;
}
.slide {
  float: left;
  width: 700px;
  height: 400px;
  position: relative;
  background-position: 0px 0;
}

/*.temp {
  position: absolute;
  color: white;
  font-size: 100px;
  bottom: 15px;
  left: 15px;
  font-family: 'Josefin Slab', serif;
  font-weight: 100;
}*/

#slide-0 {
  background-image: url('./images/DBN.png');
}
#slide-1 {
  background-image: url(http://placekitten.com/700/400);
}
#slide-2 {
  background-image: url(http://placekitten.com/700/400);
}


#slide-1a {
  background-image: url(http://placekitten.com/700/400);
}
#slide-1b {
  background-image: url(http://placekitten.com/700/400);
}
#slide-1c {
  background-image: url(http://placekitten.com/700/400);
}

/*.slide:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(transparent, black);
}*/

.slider-nav {
  text-align: right;
  margin: 22px 0px 22px 20px;
}


.slider-nav a {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 14px;
        padding-left: 10px;
        color: #bbb;
          display: inline-block;
        transition: color .15s ease-in;
        -webkit-transition: color .15s ease-in;
        -moz-transition: color .15s ease-in;
        -o-transition: color .15s ease-in;
}

.slider-nav a.active {
  color: red;
}

.slider-nav a:hover {
  color: black;
}

.footer {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        width: 100%;
        background-color: #f3f3f3;
        padding-top: 10px;
        padding-bottom: 250px;
}

.footer_main {
        width: 700px;
        display: inline-block;
}

.footer h6 {
        display: run-in;
        color: #aaa;
}

.footer h4 {
        color: #aaa;
}

.footer_icons {
        text-align: right;
        width: 225px;
        float: right;
}