/* -----------------------------------------------------------------------------
// Table of Contents
//
//  - Colors
//  - Reset
//  - Scaffolding
//  - Main Nav Bar
//  - Landing
//  - Profile
//  - Project Nav Bar
//  - Typography
//  - Footer
//
// -------------------------------------------------------------------------- */

/* --------------------------------------------
// -- Colors
//
// Black:       #222
// Dark gray:   #777
// Light gray:  #bbb
// Red:         #dd4b39
//
// ----------------------------------------- */


/* --------------------------------------------
// !-- Reset
// ----------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 16px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.group:after {
  display: table;
  clear: both;
  content: '';
}

a {
    text-decoration: none;
}

/* --------------------------------------------
// !-- Scaffolding
// ----------------------------------------- */

.wrapper {
    width: 70%;
    margin: 0 auto;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}


header {
    position:fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

/* --------------------------------------------
// !-- Main Nav Bar
// ----------------------------------------- */

.mainnav {
  height: 3.125em;
}


.logo {
  position:fixed;
  display: block;
  float: left;
  margin-top: .75em;
  padding-left: .35em;
  width: 1.75%;
}

.mainnav li a {
  margin-top: 1.25em;
  padding-left: 4%;
  text-align: center;
  display: inline-block;
}

.mainnav a {
  float: right;
  font-weight: 300;
  font-size: .91em; 
  text-transform: uppercase;
  color: #777;
  transition: color .2s ease-in
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  letter-spacing: .07em;
}


.mainnav a:hover {
    color: #dd4b39;
}

/* --------------------------------------------
// !-- Landing
// ----------------------------------------- */

.landing {
    background-color: #00af81;
    height: 100vh;
}

.landing h1 {
    padding-top: 1.5em;
    color: #fff;
    font-size: 3.5em;
    line-height: 1.25em;
    display: inline-block;
}

.landing h6 {
  margin-left: 3em;
  color: #777;
  padding-top: 1em;
  position: absolute;
  z-index: 1;
  font-size: 1em;
  letter-spacing: .02em;
}

/*BUTTON*/
.landing a {        
    color: #fff;
    border-bottom: 1px dashed #4EF2BC;
    transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
    -webkit-transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
    -moz-transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
    -o-transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
}

.landing a:hover {        
    color: #4EF2BC;
    border-bottom: 1px dashed #009e6b;
}

.btn {
    margin-top: 3.5%;
    float: left;
    background-color: none;
    border-radius: 0.250em;
    border: 0.14em solid #009e6b;
    transition: background-color 0.3s ease-in, border 0.3s ease-in;
    -webkit-transition: background-color 0.3s ease-in, border 0.3s ease-in;
    -moz-transition: background-color 0.3s ease-in, border 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in, border 0.3s ease-in;
}

.btn a {
    font-size: 1.3em;
    display: block;
    padding: 0.938em;
    color: #fff;
    font-weight: 200;
    border-bottom: none;
    letter-spacing: .02em;
}

.btn:hover {
    background-color: #009e6b;   
}

.btn a:hover{
    color: #fff;
    border-bottom: none;
}


/* --------------------------------------------
// !-- Design
// ----------------------------------------- */

.work  {
    background: #fff;
    height: 100vh;
}

.work h6 {
  margin-left: 3em;
  color: #777;
  padding-top: 1em;
  position: absolute;
  z-index: 1;
  font-size: 1em;
  letter-spacing: .02em;
}

.portfolio {
  width: 100%;
  margin-top: 15%;
  padding-top: 1em;
  border-top: 1px dashed red;
}

.banner{
/*  display: inline-block;
  width: 30.333333333%;*/
/*  padding-right: 3%;*/
/*  float: left;*/
}
/*
.holder {
  display: inline-block;
  background-color: #eee;
  width: 19em;
  margin-right: 5%;
  height: 11.5em;
  margin-top: 5em;
  border-radius: .5em;
  float: left;
}*/

.holder {
    width: 30%;
/*    width: 19em;*/
    background-color: yellow;
        margin-right: 5%;
    display: inline-block;
    float: left;
      border-radius: .5em;
        margin-top: 4em;
        height: 12em;
}

.holder_a {
    width: 30%;
/*    width: 19em;*/
    background-color: pink;

    display: inline-block;
    float: left;
      border-radius: .5em;
        margin-top: 4em;
                height: 12em;
}


/*.holder a {
  display: inline-block;
  background-color: #eee;
  width: 30.333333333%;
  height: 11.5em;
  margin-top: 5em;
  border-radius: .5em;
  padding-right: 5px;
  float: left;
  opacity: .725;
    transition: background-color 0.4s ease-in, opacity 0.4s ease-in, border-bottom 0.2s ease-in;
    -webkit-transition: background-color 0.4s ease-in, opacity 0.4s ease-in, border-bottom 0.2s ease-in;
    -moz-transition: background-color 0.4s ease-in, 0.4s ease-in, border-bottom 0.2s ease-in;
    -o-transition: background-color 0.4s ease-in, 0.4s ease-in, border-bottom 0.2s ease-in;
}*/

.holder a:hover  {
    background-color: #fff;
  width: 30.333333333%;
    border-bottom: 1px dashed #ccc;
    height: 179px;
    opacity: 1.0;
}

/*#banner_oneg { 
    display: inline-block;
    width: 30.333333333%;
    float: left;
}

#banner_divine { 
    display: inline-block;
    width: 30.333333333%;
    float: left;
}

#banner_mapk, #banner_research { 
    display: inline-block;
    float: left;
}

#banner_print { 
    display: inline-block;
    float: left;
}*/

/*  logo positioning within holder  */

#oneguggenheim {
    margin-top: 80px;
    padding-bottom: 25px;
    padding-left: 25px;
}

#mapkeys {
    padding-top: 42px;
    padding-left: 50px;
        padding-bottom: 25px;
}

#researchportal {
    padding-top: 60px;
    padding-left: 120px;
}

#dbn {
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
}

#foundation {
    padding-top: 68px;
    padding-left: 36px;
}

#placeholder {
    padding-top: 68px;
    padding-left: 36px;
}



.holder h4 {
    position: absolute;
    margin-top: -30px;
    font-weight: 300;
    color: purple;
    padding-left: 3px;
    font-size: 16px;
}


/*BUTTON*/
.btn_design a {
    clear: all;
    font-size: 1.3em;
    padding: 15px;
    color: #777;
    font-weight: 200;
    margin-top: 30px;
    display: block;
    float: left;
    background-color: #fff;
    border-radius: 4px;
    border: 0.14em solid #ddd;
    transition: background-color 0.3s eas, color 0.3s ease-in, border 0.3s ease-in;
    -webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in, border 0.3s ease-in;
    -moz-transition: background-color 0.3s ease-in, color 0.3s ease-in, border 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in, color 0.3s ease-in, border 0.3s ease-in;
}

.btn_design a:hover {
    background-color: #ddd;
}









/* --------------------------------------------
// !-- Profile
// ----------------------------------------- */

.profile {
    background: #2c2c2c;
    height: 100vh;
}

.widecol {
    width: 60.6666666666%;
    display: inline-block;        
}

#fourwide {
    padding-top: 1em;
    border-top: 1px dashed #444;
}

.col_x {
    width: 30%;
    background-color: green;
    margin-right: 5%;
    display: inline-block;
    float: left;
}

.col_y {
    width: 30%;
    background-color: pink;
    display: inline-block;
    float: left;
}

/*aside or selfie and social*/
.profile_side {
  display: inline-block;
  width: 30.333333333%;
  float: right;
  margin-top: 5em;
}

.twitter, .linkedin, .email {
    float: left;
    margin-top: .75em;
/*    margin-bottom: -10px;
*/    width: 3%;
    opacity: 0.35;
    padding-right: 30%;
    transition: opacity .6s ease-in;
    -webkit-transition: opacity .6s ease-in;
    -moz-transition: opacity .6s ease-in;
    -o-transition: opacity .6s ease-in;
}

.twitter {
    padding-top: 7px;
}

.linkedin {
    padding-top: 4px;
}

.email {
    padding-top: 8px;
}

.twitter:hover, .linkedin:hover, .email:hover {
    opacity: 1.0;
}

/*image position on the page*/
#selfie {
    width: 170px;
    display: block;
    border: 2px solid #333;
    border-radius: 100%;
    background-color: black;
    overflow: hidden;
    margin-right: 58px;
    float: right;
    margin-bottom: 10px;
}

/*image position within circle*/
#selfie img{
    padding-top: 10px;
    margin-bottom: -5px;
    margin-left: -1px;
}


.social {
    float: left;
}


#callout {
    font-weight: 400;
}

.landing h6, .work h6, #nav_active {
    float: left;
    margin-left: 40px;
    color: #777;
    padding-top: 17px;
    position: absolute;
    z-index: 1;
    font-size: 16px;
    letter-spacing: .02em;
    font-weight: 300;
}

#atwork {
    float: left;
    position: fixed;
    top: 0px;
    z-index: 1;
    float: left;
/*        padding-left: 40px;
*/  color: #777;
    letter-spacing: .02em;
    padding-top: 17px;
    position: fixed;
    top: 0px;
    z-index: 1;
}


/*PROFILE type*/
.profile h1 {
  padding-top: 3em;
  margin-bottom: .5em;
  color: pink;
  font-size: 1.71em;
  line-height: 1.49em;
  display: inline-block;
}


.profile h6 {
    font-size: 1em;
    color: gold;
    font-weight: 700;
}

.profile ul {
    font-weight: 300;
    color: yellow; /*#777;*/
    font-size: 1.2em;
    line-height: 1.5em;
}


/*BUTTON*/

.profile .btn a {
    font-size: 1.3em;
    color: #aaa;
    font-weight: 200;
    padding: 15px;
    transition: color 0.4s ease-in;
    -webkit-transition: color 0.4s lease-in;
    -moz-transition: color 0.4s ease-in;
    -o-transition: color 0.4s ease-in;
}

.profile .btn {
    margin-top: 30px;
    margin-right: 10px;
    float: left;
    display: block;
    border-radius: 4px;
    border: 0.12em solid #222;
    background-color: none;
    transition: background-color 0.4 ease-in, border 0.3s ease-in;;
    -webkit-transition: background-color 0.4s ease-in, border 0.3s ease-in;;
    -moz-transition: background-color 0.4s ease-in, border 0.3s ease-in;;
    -o-transition: background-color 0.4s lease-in, border 0.3s ease-in;;
}

.profile .btn:hover {
    background-color: #222;
}

h3 a{
    font-weight: 400;
    color: #dd4b39;
    font-size: 12px;
    line-height: 1.35em;
    padding-bottom: 5px;
}









/*FOOTER*/

.footer {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  background-color: #dd4b39;
  height: 100vh;
}

.footer_main {
    width: 100%;
    display: inline-block;
}

.footer h6 {
  margin-left: 3em;
  color: #777;
  padding-top: 1em;
  position: absolute;
  z-index: 1;
  font-size: 1em;
  letter-spacing: .02em;
}

#contact {
    float: left;
    color: green;
    position: fixed;
    top: 0px;
    z-index: 1;
    padding-top: 1em;
}

.footer h1 {
    padding-top: 1.5em;
    color: yellow;
    font-weight: 200;
    font-size: 3.5em;
    line-height: 1.25em;
    display: inline-block;
}

.footer a {        
    color: #fff;
    border-bottom: 1px dashed #c0160d;
    transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
}

.footer a:hover {        
    color: #bbb;
    border-bottom: 1px dashed #333;
}

.footer h4 {
    color: #000;
    padding-top: 90px;
}

.foot_twitter a, .foot_linkedin a, .foot_email a{
    margin-top: 1.625em;
    float: left;
    width: 3%;
    padding-right: 4em;
    opacity: 0.675;
    border-bottom: none;
    transition: opacity .2s ease-in;
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
}

.foot_twitter a {
    padding-top: 7px;
}

.foot_linkedin a {
    padding-top: 4px;
}

.foot_email a {
    padding-top: 8px;
}

.foot_twitter a:hover , .foot_linkedin a:hover , .foot_email a:hover {
    opacity: 1.0;
    border-bottom: none;
}



/* R E S P O N S I V E  S T Y L E S */


/* Smartphones (portrait) ----------- */
@media (min-width: 320px) and (max-width: 604px)  {  

/* structure */
.wrapper {
    width: 90%;
}

.landing, .footer  {
  background-color: #009e6b;
  background-color: red;
  height: 100vh;
}

/* Main Nav Bar */
.logo {
  padding-left: .8em;
}

.mainnav a {
  color: #aaa;
  font-weight: 600;
  letter-spacing: .085em;
}

.mainnav li a {
  padding-left: 4.5%;
}

.landing h6, .footer h6, #nav_active, .work h6  {
    z-index: -2
}

/* typography */

.landing h1, .footer h1 {
  margin-top: 3.5%;
  font-size: 2.1em;
  }

.landing a, .footer a  {        
  border-bottom: none;
}

.landing a:hover, .footer a:hover {        
  border-bottom: none;
}

.btn {
  margin-top: 5%;
  width: 100.1%;
  background-color: #009e6b;  
  border: .1em solid #4EF2BC;
  border-radius: 0;
}

.btn:hover {
  background-color: #00af81;
  border-radius: none;
}

}


/* iPads (portrait and landscape) ----------- */
@media (min-width: 605px) and (max-width: 1024px)  {  

.wrapper {
    width: 85%;
  }

.landing, .footer  {
  background-color: purple;
}

.mainnav a {
  color: #555;
  font-weight: 400;
  letter-spacing: .085em;
}

}
/*.landing h1 {
    font-size: 3.5em;
  }*/
}



/* iPads (portrait and landscape) ----------- */
/*@media (min-width: 768px) and (max-width : 1024px) {  
 
.wrapper {
    width: 80%;
  }

.landing {
  background-color: pink;
}

}
.landing h1 {*/
/*    padding-top: 1.85em;
*//*    font-size: 3.5em;*/
  }
}


/*@media (max-width: 1351px)  { 
 
.wrapper {
    width: 80%;
  }

.landing {
  background-color: yellow;
}

}
.landing h1 {
    padding-top: 1.85em;
    font-size: 3.5em;
  }
}
*/








