
/* --------------------------------------------
// !-- Reset
// ----------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 1em;
  background-color: yellow;
  font-family: Open Sans;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.group:after {
  display: table;
  clear: both;
  content: '';
}

a {
  text-decoration: none;
}

/* --------------------------------------------
// !-- Scaffolding
// ----------------------------------------- */

.wrapper {
  margin: 0 auto;
  width: 960px;
}

/* --------------------------------------------
// !-- Header / Nav bar
// ----------------------------------------- */

header {
  background-color: #003279;
  padding: 20px 0px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav {
  display: inline;
}

nav li:first-child {
  float: left;
  padding-left: 0px;
}

nav li {
  float: right;
  padding-left: 50px;
}

header h1 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

nav h2 {
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
}

nav h2:hover {
  color: red;
}

/* --------------------------------------------
// !-- Float section
// ----------------------------------------- */

.float {
  background-color: #ddd;
  padding: 100px 0px 25px 0px;
}

/*  clearfix hack  */
.float:after {
  clear: both;
  content: ' ';
  display: block;
}

.float li {
  border: 1px solid #ddd;
  display: block;
  float: right;
  padding: 25px;
  width: 200px;
  -webkit-transition: all 0.4s ease;
}

.float li:hover {
  background-color: #fff;
  border: 1px solid #bbb;
}

.float li:first-child {
  margin-left: 80px;
}

.float li:nth-child(2) {
  margin-left: 80px;
}

.float li:nth-child(3) {
  margin-left: none;
}

ul img {
  width: 200px;
}

.float p {
  font-size: 1em;
  font-weight: 300;
  margin-top: 5%;
}

.float h1 {
  color: #777;
  float: left;
  font-weight: 600;
  padding-top: 25px;
}

.float, .display h2 {
  color: #003279;
  font-weight: 700;
}

/* --------------------------------------------
// !-- Display section
// ----------------------------------------- */

.display {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 125px 0px 100px 0px;
}

.display li {
  display: inline-block;
  padding-right: 100px;
  width: 200px;
}

.display p {
  display: none;
}

.display h1 {
  color: #777;
  float: left;
  font-weight: 600;
  padding-top: 25px;
}

#grace {
  background-color: red;
  box-sizing: border-box;
  padding: 12px;
}

#grace img {
  width: 175px;
}

#grace h2 {
  color: #fff;
  padding-top: 2px;
}

/* --------------------------------------------
// !-- Relative section
// ----------------------------------------- */

.relative {
  background-color: #ddd;
  padding-bottom: 50px;
  padding-top: 100px;
}

#rizzo-top {
  background-color: #003279;
  display: inline-block;
  left: 200px;
  padding: 25px;
  position: relative;
  top: 25px;
  width: 200px;
}

#rizzo-bot {
  background-color: #003279;
  display:inline-block;
  left: 250px;
  padding: 25px;
  position: relative;
  top: 25px;
  width: 200px;
}

.relative p {
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  margin-top: 5%;
}

.relative h1 {
  font-weight: 600;
  color: #777;
  padding-top: 75px;
}

.relative h2 {
  font-weight: 600;
  color: #fff;
}

/* --------------------------------------------
// !-- Absolute section
// ----------------------------------------- */

.absolute {
  background-color: #fff;
  padding-bottom: 175px;
  padding-top: 100px;
}

.box {
  background-color: #003279;
  height: 500px;
  margin-left: 230px;
  width: 500px;
}

.dlee img {
  width: 200px;
  border: 2px solid #fff;
}

.dlee {
  left: 690px;
  position: absolute;
  top: 2015px;
  width: 200px;
}

.absolute h1 {
  font-weight: 600;
  color: #777;
  padding-top: 50px;
}

/* --------------------------------------------
// !-- Footer
// ----------------------------------------- */

footer {
  background-color: red;
  bottom: 0;
  padding: 10px 0px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

footer li:first-child {
  float: right;
}

footer h2 {
  color: maroon;
  cursor: pointer;
  font-weight: 300;
  letter-spacing: 0em;
  text-transform: none;
  -webkit-transition: all 0.4s ease;
}

footer h2:hover {
  color: #fff;
}



