
/* --------------------------------------------
// !-- Reset
// ----------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 1em;
}


ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.group:after {
  display: table;
  clear: both;
  content: '';
}

a {
    text-decoration: none;
}

/* --------------------------------------------
// !-- Scaffolding
// ----------------------------------------- */
.wrapper {
    width: 80%;
    margin: 5em auto;
/*    background-color: yellow;
*/    }



/* --------------------------------------------
// !-- Landing
// ----------------------------------------- */

.footer {
  border-top: 1px solid #cdcdcd;
  padding-top: 30px;
  width: 100%;
  display: inline-block;
}


h4, .heading a {
 font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.875em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: purple;
  line-height: 1.5em;
}

h4:hover, .heading:hover a {
  color: #63666a;
}

.item a {
  color: #63666a;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.825em;
  line-height: 1.5em;
}

.item:hover a {
  color: #bbb;
}

#most {
  width: 75%;
  display: inline-block;
    float: left;
}

#side {
  width: 25%;
  float: left;
  display: inline-block;
}

.main {
  float: left;
  display: inline-block;
  width: 31%;
  padding-right: 2%;
  clear: all;
}

.main_ex a {
  color: red;
  float: left;
  width: 14%;
  padding-right: 1%;
  clear: all;
}

.main_ex_right a {
  width: 10%;
  color: pink;
}

.second, .third{
  float: left;
  width: 48%;
  padding-right: 2%;
}



/* R E S P O N S I V E  S T Y L E S */


/* Smartphones (PORTRAIT) ----------- */

@media (min-width: 320px) and (max-width: 695px)  {  

/* structure */
.wrapper {
  width: 95%;
/*  background-color: purple;
*/}

}

/* smartphone (LANDSCAPE) ----------- */
@media (min-width: 510px) and (max-width: 695px)  {  


/* structure */
.wrapper {
  width: 95%;
/*  background-color: green;
*/}

}

/* tablet PORTRAIT ----------- */
@media (min-width: 696px) and (max-width: 899px)  {  

/* structure */
.wrapper {
  width: 95%;
/*  background-color: blue;
*/}

}

/* tablet (LANDSCAPE----------- */
@media (min-width: 900px) and (max-width: 1200px)  {  

.wrapper {
  width: 95%;
/*  background-color: red;
*/}

.main {
  width: 24%;
  padding-right: 1%;
}

.main_ex a {
  clear: all;
  width: 33%;
}

#most {
  width: 100%;
  padding-bottom: 1%; 
}

.main {
 width: 31.333333%;
  padding-right: 2%;
}

.main_ex a, .main_ex_right a {
 width: 31.333333%;
}

}



