/* -----------------------------------------------------------------------------
// Table of Contents
//
//  - Colors
//  - Reset
//  - Scaffolding
//  - Main Nav Bar
//  - Landing
//  - Profile
//  - Project Nav Bar
//  - Typography
//  - Footer
//
// -------------------------------------------------------------------------- */

/* --------------------------------------------
// -- Colors
//
// Black:       #222
// Dark gray:   #646464
// Light gray:  #a0a0a0
// Blue:        #5e8ab4
// Purple       #53284f
// Green        #719949

// ----------------------------------------- */


/* --------------------------------------------
// !-- Reset
// ----------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 1em;
}


h2 {
    font-family: serif;
}


ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.group:after {
  display: table;
  clear: both;
  content: '';
}

a {
    text-decoration: none;
      cursor: pointer;

}

/* --------------------------------------------
// !-- Scaffolding
// ----------------------------------------- */

body{
  background-color: #fff;
}

.wrapper {
  width: 52%;
  margin: 0 auto;
}


/*.solid-wrapper {
  width: 52%;
  margin: 0 auto;
}*/

/* --------------------------------------------
// !-- Sections
// ----------------------------------------- */


/* solid aubergine bar */
.solid-bar {
  width: 100%;
  background-color: #53284f;
  padding-bottom: 1.25em;
}

.logo {
  width: 80%;
  display: block;
  padding-bottom: .5em;
  padding-top: 2.75em;
}

.title {
  margin: 1.25em 0;
}


.title-cta {
}

.disclaimer {
}

.content-main {
  margin-top: 2.5em;
}

.story {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.disclosure {
}


/*---------------- type styles ----------------


/* article title */
h1 {
  color: #fff;
  line-height: 1.15em;
  font-size: 1.425em;
}

#thedate {
  margin-bottom: 0em;
  color: #a0a0a0;
  font-size: .75em;
  margin-top: .2em;
}

.title p {
  font-family: arial, sans-serif;
  font-size: .9em;
  margin-bottom: .25em;
  color: #fff;
  clear: both;
}


/* section subheads */
p {
  font-family: arial, sans-serif;
  font-size: 1em;
  margin-bottom: .25em;
  color: #53284f;
  clear: both;
}

/* name and phone_type */
h3 {
  font-family: arial, sans-serif;
  font-size: .675em;
  color: #a0a0a0;
  margin-top: .75em;
}

/* name_type */
h3 a {
  color: #5e8ab4;
  font-weight: bold;
}

/* name_type:hover; */
h3 a:hover {
  border-bottom: 1px solid #5e8ab4;
  padding-bottom: 2px;
}

h4 {
  font-family: arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #a0a0a0;
  font-size: 0.675em;
  padding-top: .8em;
  border-top: 1px solid #ddd;
}

h5 {
  color: #646464;
  font-family: arial, sans-serif;
  font-size: .9em;
  line-height: 1.5em;
  margin-bottom: 1em;
  list-style-position: inside;
  clear: both;
}

h5 a {
  color: #5e8ab4;
}

 .disclosure h6 {
  color: #a0a0a0;
  font-family: arial, sans-serif;
  font-size: 0.625em;
  line-height: 1.375em;
  padding-bottom: 0.75em;
}



/*---------------- contributors and date ----------------


/* datearea type container */
.contributors {
  display: inline-block;
}

/* date_type */
.datearea h4 {
  float: right;
}

/* phone_type */
.phone {
  padding-left: 5px;
}




/*---------------- buttons ----------------*/

.btn-access {
  background-color: #5e8ab4;
  width: 40%;
  display: block;
  margin: 2.25em auto;
  transition: background-color .3s ease-out;
  cursor: pointer;
}

.btn-access:hover {
  background-color: #646464; 
}

.btn-access h2 {
  padding: .85em;
  font-family: arial, sans-serif;
  text-align: center;
  font-size: .825em;
}

.btn-access a {
  color: #fff;
  letter-spacing: .025em;
}

/*---------------- disclosure ----------------*/

.disclosure a {
  color: #5e8ab4;
}

.disclosure a:hover {
  border-bottom: 1px solid #5e8ab4;
  padding-bottom: 2px;
}



/* R E S P O N S I V E  S T Y L E S */
/* Smartphones (PORTRAIT) ----------- */

@media (min-width: 320px) and (max-width: 695px)  {  

/* structure */
.wrapper {
  width: 85%;
}

.title {
  margin: 3em 0;
}

/*---------------- buttons ----------------*/

.btn-access {
  width: 100%;
  margin: 2.5em 0;
}

.btn-access h2 {
  font-size: .875em;
}

/*---------------- type styles ----------------*/

h4 {
  line-height: 1.5em;
  padding-bottom: 1em;
}
}




/* smartphone (LANDSCAPE) ----------- */
@media (min-width: 510px) and (max-width: 695px)  {  

/* structure */
.wrapper {
  width: 85%;
}

.title {
  margin: 2em 0;
}

.logo {
  padding-bottom: 0em;
  padding-top: 2.25em;
}

/*---------------- buttons ----------------*/

.btn-access {
  width: 45%;
  margin: 1.5em auto 1.825em;
}

.btn-access h2 {
  font-size: .825em;
}
}



/* tablet PORTRAIT and LANDSCAPE----------- */
@media (min-width: 696px) and (max-width: 1200px)  {  

/* structure */
.wrapper {
  width: 65%;
}

.title {
  margin: 2.5em 0;
}

}






