/*structure*/
.wrapper {
    width: 960px;
    margin: 0 auto;
    padding-left: 15px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

a {
    text-decoration: none;
}

header {
    position:fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

h3 {
    font-weight: 300;
    color: #dd4b39;
    font-size: 12px;
    line-height: 1.35em;
    padding-bottom: 5px;
}

h4 {
    font-weight: 300;
    color: #555;
    font-size: 15px;
    line-height: 1.35em;
    padding-bottom: 5px;
    font-weight: 300;
    color: black;
/*    padding-top: 12px;
*//*    border-top: 1px dashed #ccc;
*/}

h4 {
    font-weight: 300;
    color: #555;
    font-size: 15px;
    line-height: 1.35em;
    padding-bottom: 15px;
}

h5 {
    font-weight: 400;
    color: #555;
    transition: color .25s ease-in;
    -webkit-transition: color .25s ease-in;
    -moz-transition: color .25s ease-in;
    -o-transition: color .25s ease-in;
    font-size: 20px;
    padding-bottom: 5px;
}

h6 {
    display: inline;
    font-weight: 300;
    color: #aaa;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .1em;
    padding-top: 50px;
    padding-bottom: 15px;
}

.landing {
    background-color: #dd4b39;
    height: 760px;
    padding-bottom: 175px;
}

.profile {
    background: #2a2a2a;
    height: 760px;
    padding-bottom: 175px;
}

.process {
    background-color: #00af81;
    height: 760px;
    padding-bottom: 175px;
}

#callout {
    font-weight: 400;
}

/*BUTTON*/
.btn {
    margin-top: 30px;
    margin-right: 10px;
    padding: 15px;
    float: left;
    background-color: #db3a2d;
    border-radius: 4px;
    width: 233px;
    display: block;
    border: 1px solid #c93725;
    transition: background-color 0.45s linear;
    -webkit-transition: background-color 0.45s linear;
    -moz-transition: background-color 0.45s linear;
    -o-transition: background-color 0.45s linear;
}

.btn:hover {
    background-color: #c93725;
    color: #fff;
}

.btn a {
/*    margin-top: 10px;
*/    padding: 50px, 0px;
    font-size: 18px;
    border-bottom: none;
    transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
}

.landing .btn a {
    color: #333;
    font-weight: 300;
    border-bottom: none;
}

.landing .btn a:hover {
    color: #333;
    font-weight: 300;
    border-bottom: none;
}

.btn a:hover {
    border-bottom: none;
}


.work, .pro1, .pro2, .pro3 {
    background: #fff;
    height: 760px;
    padding-bottom: 175px;
}

.pro4 {
    background: #fff;
    height: 760px;
    padding-bottom: 200px
}

.mainnav a {
    float: right;
    font-weight: 300;
    font-size: 13px; 
    text-transform: uppercase;
    color: #aaa;
    transition: color .25s ease-in;
    -webkit-transition: color .25s ease-in;
    -moz-transition: color .25s ease-in;
    -o-transition: color .25s ease-in;
    text-align: center;
    display: inline-block;
    line-height: 15px;
    padding-right: 20px;
    padding-top: 15px;
    letter-spacing: .1em;

}

.mainnav li a {
    padding-top: 18px;
}

.logo {
    float: left;
    width: 20px;
    padding-bottom: 12px;
    display: block;
    padding-left: 25px;
}

.mainnav a:hover {
    color: black;
}

.mainnav a:active {
    color: #dd4b39;
}

.landing h6, .work h6, #nav_active {
    float: left;
    margin-left: 40px;
    color: #aaa;
    padding-top: 19px;
    position: absolute;
    z-index: 1;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .1em;
    font-weight: 300;
}

.pro1 h6, .pro2 h6, .pro3 h6, .pro4 h6, .pro5 h6 {
    float: left;
    padding-top: 80px;
    padding-left: 0px;
    padding-right: 20px;
}

#atwork {
    float: left;
    color: #bbb;
    position: fixed;
    top: 0px;
    z-index: 1;
    float: left;
/*        padding-left: 40px;
*/  color: #bbb;
    padding-top: 19px;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.landing h1 {
    padding-top: 150px;
    color: #fff;
    font-size: 60px;
    line-height: 1.25em;
    display: inline-block;
}

.landing a {        
    color: #fff;
    border-bottom: 1px dashed #c0160d;
    transition: color 0.2s linear, border-bottom 0.2s linear;
}

.landing a:hover {        
    color: #bbb;
    border-bottom: 1px dashed #333;
}

.widecol {
    width: 700px;
    display: inline-block;        
}

/*PROFILE*/
.profile h1 {
    margin-top: 95px;
    margin-bottom: 15px;
    color: #666;
    font-size: 28px;
    line-height: 1.48em;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}

.profile h3  {
    color: #666;
    padding-top: 5px;
    border: none;
}

.profile h3 a  {
    color: #666;
    font-weight: 600;
}

.profile h3 a:hover  {
    color: #555;
}

.profile h6 {
    font-size: 18px;
    font-weight: 200;
    display: inline;
/*    padding-top: 19px;
*/    color: #aaa;
    text-transform: none;
    letter-spacing: .05em;
}

.profile ul {
    font-weight: 300;
    color: #666;
    font-size: 15px;
    line-height: 1.55em;
}

.col1, .col2, .col3 {
    width: 230px;
    display: inline-block;
    color: #777;
/*    float: left;*/
}

.col2 {
    padding-top: 25px;
}


.profile_side {
    margin-top: 130px;
    display: inline-block;
    width: 190px;
    margin-right: 38px;
    float: right;
/*    clear: all;*/
}

.social {
    margin-top: -12px;
}

#selfie {
    width: 170px;
    display: block;
    border: 2px solid #333;
    border-radius: 100%;
    position: relative;
    top: -35px;
    right: 8px;
    background-color: black;
    overflow: hidden;
}

#selfie img{
    padding-top: 10px;
    margin-bottom: -3px;
    margin-left: -1px;
}

.twitter, .linkedin, .email {
    padding-bottom: 37px;
    float: left;
    width: 30px;
    padding-right: 33px;
    opacity: 0.5;
    transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}

.twitter {
    padding-top: 7px;
}

.linkedin {
    padding-top: 4px;
}

.email {
    padding-top: 8px;
}


.twitter:hover, .linkedin:hover, .email:hover {
    opacity: 1.0;
}

.col4 {
    float:left;
    width: 200px;
}

/*BUTTON*/
.profile .btn {
    margin-top: 30px;
    margin-right: 10px;
    padding: 15px;
    float: left;
    background-color: #1b1b1b;
    border-radius: 4px;
    width: 190px;
    display: block;
    border: 1px solid #1a1a1a;
    transition: background-color 0.45s linear;
    -webkit-transition: background-color 0.45s linear;
    -moz-transition: background-color 0.45s linear;
    -o-transition: background-color 0.45s linear;
}

.profile .btn:hover {
    background-color: #0c0c0c;
}

.profile .btn a {
    color: #006755;
    font-weight: 300;
}

/*PROCESS*/
.process h1 {
    margin-top: 95px;
    margin-bottom: 15px;
    color: #4EF2BC;
    font-size: 28px;
    line-height: 1.48em;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid #009e6b;
    display: inline-block;
    width: 700px;
}

.process_col1, .process_col2, .process_col3 {
    width: 230px;
    padding-right: 13px;
    float: left;
    display: inline-block;
    color: #777;
}

.process_col4 {
    padding-left: 55px;
}

.process h4 {
    color: #4EF2BC;
}

.process h5 {
    color: #333;
}

.process .col1 h6 {
    color: #fff;
}
.process h6 {
    font-size: 18px;
    font-weight: 200;
    display: inline;
    padding-top: 19px;
    color: #abffdd;
    text-transform: none;
    letter-spacing: .01em;
    padding-left: 0px;
}

.process_side h4 {
    color: #fff;
}

.process ul {
    font-weight: 300;
    color: #fff;
    color: #333;
    font-size: 15px;
    line-height: 1.5em;
}

.widecol_process {
    width: 950px;
    display: inline-block;        
}

.process_side {
    margin-top: 107px;
    clear: all;
    display: inline-block;
    width: 205px;
    margin-left: 10px;
    float: right;
    margin-right: 13px;
}

.process_side .col1 h6 li {
    color: #fff;
}

/*BUTTON*/
.process .btn {
    margin-top: 20px;
    margin-right: 10px;
    padding: 15px;
    float: left;
    background-color: #00a779;
    border-radius: 4px;
    width: 194px;
    display: block;
    border: 1px solid #009e6b;
    transition: background-color 0.45s linear;
    -webkit-transition: background-color 0.45s linear;
    -moz-transition: background-color 0.45s linear;
    -o-transition: background-color 0.45s linear;
}

.process .btn:hover {
    background-color: #009e6b;
    transition: background-color 0.45s linear;
    -webkit-transition: background-color 0.45s linear;
    -moz-transition: background-color 0.45s linear;
    -o-transition: background-color 0.45s linear;
}

.process .btn a {
    color: #fff;
    font-weight: 200;
}


/*DESIGN*/
/*arrows to advance projects*/
.projectnav a {
    position: relative;
    left: 728px;
    top: 58px;
    z-index: 0;
    color: #aaa;
    background-color: #fff;
    border-radius: 3px;
    padding: 3px 6px 6px 6px;
    font-weight: 300;
    font-size: 15px; 
    font-color: #aaa;
    letter-spacing: .04em;
    transition: background-color, font-color .25s linear;
    -webkit-transition: background-color .25s linear;
    -moz-transition: background-color .25s linear;
    -o-transition: background-color .25s linear;
}

.projectnav a:hover {
    background-color: #eee;
}

#single_arrowright, #arrowreturn, .arrowleft {
    padding-left: 8px;
    margin-right: 18px;
}

.arrowright {
    padding-left:40px;
}

/*slider*/
#arrowreturn, .arrowleft {
    margin-right: 22px;
}

/*slider*/
.dots {
    position: absolute;
    top: 46px;
    right: 0px;
}

.dots li {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: #ccc;
    text-indent: -999em;
    cursor: pointer;
    border-left: 20px solid white;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}

.dots li:hover {
    background: #666;
}

.dots li.active {
    background: #db3a2d;
}

.portfolio {
        float:left;
        height: 500px;
        display: inline;
}

.description {
        float: left;
        margin-top: 72px;
        width: 210px;
/*        border-bottom: 1px dashed #dd4b39;
        padding-top: 15px;*/
}


/*.project {
        background-color: yellow;
        margin-top: 20px;
        width: 700px;
        height: 400px;
        display: inline;
}*/

.banner { 
    display: inline-block;
    position: relative; 
    overflow: hidden; 
    min-height: 501px;
    width: 700px;
    height: 500px;
    margin-right:22px;
    padding-top: 94px;
    padding-left: 5px;
}

.banner li { 
    list-style: none; 
}

.footer {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        width: 100%;
        background-color: #f3f3f3;
        padding-top: 10px;
        padding-bottom: 500px;
}


/*BUTTON*/
.banner .btn {
    margin-top: 30px;
    margin-right: 10px;
    padding: 15px;
    float: left;
    background-color: #fff;
    border-radius: 4px;
    width: 188px;
    display: block;
    border: 1px solid #ddd;
    transition: background-color 0.45s linear;
    -webkit-transition: background-color 0.45s linear;
    -moz-transition: background-color 0.45s linear;
    -o-transition: background-color 0.45s linear;
}

.banner .btn:hover {
    background-color: #eee;
}

.banner .btn a {
    color: #aaa;
    font-weight: 200;
}

/*FOOTER*/
.footer {
    background-color: #dd4b39;
    height: 750px;
    padding-bottom: 175px;
}

.footer_main {
    width: 960px;
    display: inline-block;
}

#contact {
    float: left;
    color: #bbb;
    position: fixed;
    top: 0px;
    z-index: 1;
    float: left;
    padding-top: 19px;
}

.footer h1 {
    padding-top: 140px;
    color: #fff;
    font-weight: 200;
    font-size: 60px;
    line-height: 1.25em;
    display: inline-block;
}

.footer a {        
    color: #fff;
    border-bottom: 1px dashed #c0160d;
    transition: color 0.2s linear, border-bottom 0.2s linear;
}

.footer a:hover {        
    color: #bbb;
    border-bottom: 1px dashed #333;
}

.footer h6 {
    float: left;
    margin-left: 40px;
    color: #aaa;
    padding-top: 9px;
    position: absolute;
    z-index: 1;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .1em;
    font-weight: 300;
}

.footer h4 {
    color: #000;
    padding-top: 90px;

}

.foot_twitter a, .foot_linkedin a, .foot_email a{
    margin-top: 20px;
    float: left;
    width: 24px;
    padding-right: 33px;
    opacity: 0.7;
    border-bottom: none;
    transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}

.foot_twitter a {
    padding-top: 7px;
}

.foot_linkedin a {
    padding-top: 4px;
}

.foot_email a {
    padding-top: 8px;
}

.foot_twitter a:hover , .foot_linkedin a:hover , .foot_email a:hover {
    opacity: 1.0;
    border-bottom: none;
}
