h1 {
	font-size: 30px;
	color: blue;
	padding-bottom: 30px;
	}

h2 {
	font-size: 20px;
	}

a {
	font-size: 11px;
	padding-bottom: 3px;
	text-decoration: none;
	color: blue;
	font-family: helvetica;
	}

h3 {
	font-size: 20px;
	font-family: helvetica;
	font-weight: 800;
	background-color: #eee;
	width: 128px;
	height: 20px;
	padding-top: 6px;
	margin-right: 12px;
	margin-bottom: 3px;
	text-align: center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	}


body {
	margin: 12px auto;
	width: 785px;
	}

aside {
	text-align: center;
	background-color: #eee;
	margin-right: 12px;
	width: 128px;
	}

section {
	padding-bottom: 12px;
	float:left;
	position: relative;
	}	

p {
	font-size: 12px;
	padding-bottom: 3px;
	font-family: helvetica;
	}	

footer {
	width: 785px;
	clear:all;
	float:left;
	text-align: center;
	}

#calendar{
	font-weight: 800;
	margin-bottom: 100px;
	}

.left {
	width: 145px;
	float: left;
	}

.mid {
	width: 145px;
	float: left;
	}

#search {
	padding-bottom: 40px;
	}

.navel {
	background-color: #eee;
	width: 394px;
	padding: 12px;
	float: left;
	margin-right: 12px;
	margin-bottom: 12px;
	}

#mainnav{
	width: 150px;
	float: left;
	color: gray;
	text-align: center;
	}

.navwords{
	float: left;
	font-size: 14px;
	font-family: helvetica;
	padding-bottom: 3px;
	}

.middle {
	clear:all;
	width: 595px;
	}

.two-com{
	float:left;
	padding-bottom: 12px;
	padding-right: 12px;
	font-size: 10px;
	font-family: helvetica;
	width: 133px;
	}

.items {
	font-size: 10px;
	padding: 2px 0;
	border-bottom: 1px solid #eee;
	}

.one {
		width: 64px;
		float:left;
	}

.three {
		width: 40px;
		float:left;
	}

.farright {
	margin-left: 594px;
	margin-top: -12px;
	}