/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */



li {
    list-style: none;
}

ul {
    margin: 0;
    padding-left: 15px;
}

ol {
    margin: 0; 
    padding: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

a {
    text-decoration: none;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=3.2.1');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
dark gray: #333
blue: #067bb5;
gray: #666;
light gray: #cfcfcf;
*/



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper {
    width: 960px;
    margin: 0 auto;
}

/* N A V  B A R */

.top-nav {
    background-color: rgb(249, 249, 249);
    background-color: #eee;
    width: 100%;
    display: inline-block;
}

.top-nav img {
    width: 117px;
}

.top-nav li {
    float: left;
}

.top-nav li:first-child {
    width: 61%;
    display: inline-block;
    padding-top: 10px;
    margin-left: none;
}

.top-nav li:nth-child(2) {
    width: 19%;
    display: inline-block;
    border-left: 2px solid #fff;
    padding: 15px 3px 20px 15px;
    transition: all .2s;
}

.top-nav li:nth-child(3) {
    width: 16%;
    float: right;
    display: inline-block;
    border-left: 2px solid #fff;
    padding: 15px 0px 20px 15px;
    transition: all .2s;
}

.top-nav li:nth-child(2):hover, .top-nav li:nth-child(3):hover{
    background-color: #ddd;
}

i {
    float: left;
    padding-right: .5em;
    color: #067bb5;
    font-size: 1.7em;
}

/* H E R O  A R E A */

.hero img {
    width:100%;
    position: relative;
    top: 0px;
    z-index: -1;
}

.deal {
    padding-top: .5%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 6%;
    width: 58%;
    display: inline-block;
/*    background: pink;
*/}


.details {
    border-top: .6em solid #eee;
    border-bottom: .6em solid #eee;
    text-align: center;
    margin-bottom: 2em;
    transition: all .3s;
}
.details:hover {
    background-color: #eee;
    cursor: pointer;
}



/* S I D E B A R */

.consult {
    background-color: #f0f0f0;
    width: 30%;
    padding: 1em;
    float: right;
    margin-right: 3%;
    position: relative;
    top: -80px;
    z-index: 1;
}

.consult ul {
    padding-left: 0px;
}

.form li {
    background-color: #fff;
    padding: 3px;
    border: 1px solid #ddd;
    margin-bottom: .8em;
    transition: all .15s;
}

.form li:hover {
    border: 1px solid #bbb;
}


.form a {
    background-color: #fff;
}


#box {
    font-size: 2em;
    display: inline-block;
}

.btn {
    padding-top: 15px;
    background-color: #ff6429;
    border-radius: 5px;
    margin-bottom: 2%;
    transition: all .3s;
}

.btn:hover {
    background-color: #d73e04;
}

.questions {
    background-color: #fff;
    border: 1px solid #dedede;
    width: 30.85%;
    padding: .65em;
    float: right;
    margin-right: 3%;
    position: relative;
    top: -124px;
    z-index: 2;
    transition: all .3s;
}

.questions:hover{
    background-color: #f0f0f0;
    cursor: pointer;

}

.questions i {
    padding-top: 12px;
    padding-right: 15px;
}

/* F E A T U R E  A R E A */

.features {
    margin: none;
    padding-bottom: 1%;
    margin-bottom: 6%;
}

.features ol {
    padding: 0;
}

.features li img{
    width: 100%;
}

.features li:first-child, .features li:nth-child(2)  {
    width: 30%;
    padding-right: 5%;
    display: inline-block;
    float: left;
}

.features li:last-child {
    width: 30%;
    padding-right: 0%;
    display: inline-block;
}

footer {
    width: 100%;
    margin-bottom: 2em;
}

/* T Y P O G R A P H Y */

h1 {
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #555;
    letter-spacing: -.02em;
    line-height: 1em;
}

#star {
    font-size: .6em;
    font-weight: 400;
    position: relative;
    top: -15px;
}

h2 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #aaa;
    font-size: 1.75em;
    padding: 10px 0px 15px 15px;
    letter-spacing: -.01em;
}

h3 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #aaa;
    font-size: 1.15em;
}

.features h3 {
    padding-bottom: 1%;
    margin-bottom: 2%;
    border-bottom: 1px solid #ddd;
}

.consult h3 {

}

 h4 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 1.3em;
    color: #999;
}

.consult h4 {
    color: #fff;
    text-align: center;
}

 .features h4 {
    margin-top: 6%;
    margin-bottom: 2%;
}

.deal h4 {
    text-align: center;
    width: 75%;
    padding-left: 12.5%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 1.3em;
    color: #999;
    margin-top: 3%;
    margin-bottom: 4%;
}


#sears-card {
    color: #555;
}

h5 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #999;
    font-size: .97em;
    padding-bottom: 1em;
    line-height: 1.5em;
}

.form h5 {
    padding-bottom: 0;
    color: #ccc;
}

.btn h5 {
    color: #fff;
    text-align: center;
}

h6 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #999;
    font-size: .7em;
    padding-bottom: 1em;
    line-height: 1.5em;
}

.consult h6 {
    padding: 1.5em;
    margin-bottom: 2%;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
