/* --------------------------------------------
// !-- Reset
// ----------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-family: Open sans;
  font-size: 1em;
  letter-spacing:.02em;
  color: #222;
  line-height: 1.4;
  background: url(../img/putt.jpg) no-repeat center center fixed;
  background-size: 1700px; 
  background-position: 0px -620px; 
}

body {
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.group:after {
  display: table;
  clear: both;
  content: '';
}

a {
    text-decoration: none;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=3.2.1');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*  S T R U C T U R E  */

.wrapper {
  width: 65%;
  width: 960px;
  margin: 0 auto;
}

/*  N A V  B A R  +  E L E M E N T S  */

header {
  background-color: #fff;
  height: 60px;
  position:fixed;
  top:0;
  width: 100%;
  z-index: 1;
}

nav {
  padding-top: 15px;
}

#portfolio {
  color: #359f48;
  display: inline-block;
  font-family: Open sans;
  font-size: 1.35em;
  -webkit-transition: all 0.4s ease;

}

#portfolio:hover {
    color: #aaa;
}

/* group of list items */
nav ul {
  float: right;
  padding-top: .15em;
  width: 30%;
}

/* individual list items */
nav li {
  float: right;
  padding-left: 2em;
}

/* links for individual list items */
nav a {
  color: #bbb;
  font-family: 'FontAwesome';
  font-size: 1.3em;
   -webkit-transition: all 0.4s ease;
 }

nav a:hover {
  color: #359f48;
}

/*  B I O G R A P H Y  */

.bio {
  border-bottom: 1px dashed #aaa;
  padding-bottom: 250px;
  position: relative;
  top: 315px;
}

p {
  font-family: Open Sans;
  color: #bbb;
}

.col {
  float: left;
  padding-right: 3%;
  width: 32%;
}

.col-right {
  float: left;
  width: 30%;
}

#lead-in {
  font-size: 1.35em;
  font-weight: 700;
  line-height: 1.5em;
}

#bottom-nav {
  margin-top: 295px;
  padding-top: 20px;
}


/*  M O D A L  */

.modal  {
  display: inline-block;
  position: relative;
  top: 350px;
  width: 50%;
}

#openPopUp {
  background-color: #319444;
  border-radius: 4.5px;
  color: #bbb;
  font-family: Open sans;
  font-size: .8em;
  font-weight: 600;
  letter-spacing:.05em;
  padding: 15px;
  text-transform: uppercase; 
  -webkit-transition: all 0.4s ease;
}

a#openPopUp:hover{
  background-color: #267236;
  color: #fff;
  cursor: pointer;
}

.popup {
  background: rgba(0,0,0, 0.75);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: -100vh;
  width: 100vw;
  z-index: 9999999;
  -webkit-transition: opacity  0.35s ease;
  -moz-transition: opacity 0.35s ease;
  -o-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}

.popup .popUpContainer {
  left: 50%;  /*  horizontal position of popup container  */
  max-width: 500px; /*  width of popup container  */
  position: fixed; /* To avoid scroll to target */
  top: -100vh;
  width: 100%;
  -webkit-transition: top  0.35s ease;
  -moz-transition: top 0.35s ease;
  -o-transition: top 0.35s ease;
  transition: top 0.35s ease;

  /* Trick to properly center the element by using negative 
  1/2 length of element as margin left and top */
  background-color: #ffffff; /*  color of popup container  */
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  margin-left: -250px;
  z-index: 9; 
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

/*  type in the popup  */
.popup p {
  color: #319444;
  font-family: Open sans;
  font-size: .8em;
  font-weight: 600;
  letter-spacing:.05em;
  padding: 15px;
  text-align: center;
  text-transform: uppercase; 
  -webkit-transition: all 0.4s ease;
}

/*  popup contents  */
.popup img{
  display: block;
  height: 290px;
  width: 100%;
}

/* X to close */
.popup a.closePopUp {
  color: #bbb;
  font-weight: 800;
  position: absolute;
  right: 1.1em;
  top: .8em;
}

/* When popup is targeted, by clicking on link with #popup in HTML */
.popup:target{
  opacity: 1;
  top: 0;
}

/* click anywhere to close */
.popup .closePopUpOutSide{
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 9; 
}

/*  popup position and interaction  */
.popup:target .popUpContainer{
  top: 38px;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
}

