/* -----------------------------------------------------------------------------
// Table of Contents
//
//  - Colors
//  - Reset
//  - Scaffolding
//  - Main Nav Bar
//  - Landing
//  - Profile
//  - Project Nav Bar
//  - Typography
//  - Footer
//
// -------------------------------------------------------------------------- */

/* --------------------------------------------
// -- Colors
//
// Black:       #222
// Dark gray:   #777
// Light gray:  #bbb
// Red:         #dd4b39
//
// ----------------------------------------- */


/* --------------------------------------------
// !-- Reset
// ----------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 16px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.group:after {
  display: table;
  clear: both;
  content: '';
}

a {
    text-decoration: none;
}

/* --------------------------------------------
// !-- Scaffolding
// ----------------------------------------- */

.wrapper {
    width: 70%;
    margin: 0 auto;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  background-color: #eee;
}

header {
    position:fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

/* --------------------------------------------
// !-- Main Nav Bar
// ----------------------------------------- */

.mainnav {
  height: 3.125em;
}

.logo {
  position:fixed;
  display: block;
  float: left;
  margin-top: .75em;
  width: 1.75%;
}

.mainnav li a {
  margin-top: 1.25em;
  padding-left: 4%;
  text-align: center;
  display: inline-block;
}

.mainnav a {
  float: right;
  font-weight: 300;
  font-size: .91em; 
  text-transform: uppercase;
  color: #777;
  transition: color .2s ease-in
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  letter-spacing: .07em;
}

.mainnav a:hover {
    color: #dd4b39;
}

/* --------------------------------------------
// !-- Landing
// ----------------------------------------- */

.landing {
    background-color: #eee;
}

.landing h1 {
  padding-top: 1.5em;
  padding-bottom: .875em;
  color: purple;
  font-size: 3.5em;
  line-height: 1.25em;
  display: inline-block;
  border-bottom: 1px dashed purple;
}

/* links in intro copy */
.landing a {        
    color: gray;
    border-bottom: 1px dashed #4EF2BC;
    transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
    -webkit-transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
    -moz-transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
    -o-transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
}

.landing a:hover {        
    color: #4EF2BC;
    border-bottom: 1px dashed #009e6b;
}

.landing h6, .work h6, #nav_active {
    float: left;
    margin-left: 40px;
    color: #777;
    padding-top: 17px;
    position: absolute;
    z-index: 1;
    font-size: 16px;
    letter-spacing: .02em;
    font-weight: 300;
}

/* --------------------------------------------
// !-- Design
// ----------------------------------------- */

.work  {
  background: #eee;
  height: 53em;
  margin-top: 3em; /* on all projects */
  border-bottom: 1px dashed purple;
}

/* left side shape */
.holder-a a {
  width: 49%;
  height: 15em;
  background-color: #ddd;
  display: inline-block;
  float: left;
  margin-top: 1em;
  margin-right: 2%;
}

/* right side shape */
.holder-b a {
  width: 49%;
  height: 15em;
  background-color: #ddd;
  display: inline-block;
  float: left;
  margin-top: 1em;
}

.holder-a a:hover, .holder-b a:hover {
  background-color: pink;
  transition: background-color .3s ease-in;
  -webkit-transition: background-color .3s ease-in;
  -moz-transition: background-color .3s ease-in;
  -o-transition: background-color .3s ease-in;
}


/*  logo positioning within container  */
#oneguggenheim {
  width: 75%;
  padding-left: 12.5%;
  padding-top: 20%;
}

#mapkeys {
  width: 45%;
  padding-left: 27.5%;
  padding-top: 12%;
}

#researchportal {
  width: 18%;
  padding-left: 41%;
  padding-top: 11.5%;
}

#dbn {
  width: 70%;
  padding-left: 14.5%;
  padding-top: 11.75%;
}

#foundation {
  width: 70%;
  padding-left: 15%;
  padding-top: 15%;
}

#placeholder {
}


/* --------------------------------------------
// !-- Profile
// ----------------------------------------- */

.profile {
/*    background: #2c2c2c;*/
  background: #eee;
  height: 100vh;
}

/* main text style */
.widecol {
  width: 74.6666666666%;
  display: inline-block;        
}

/* sidebar w photo */
.profile_side {
  display: inline-block;
  width: 24%;
  float: right;
  margin-top: 4.5em;
}

/* image position on the page */
#selfie {
  width: 11em;
  margin-left: 12%;
  border: 1px solid #bbb;
  border-radius: 100%;
  background-color: black;
  overflow: hidden;
}

/* image position within circle */
#selfie img{
    padding-top: 10px;
    margin-bottom: -5px;
    margin-left: -1px;
}

/* four col container */
#fourwide {
  padding-top: 1em;
  border-top: 1px dashed #aaa; /*  #444  */ /*  border top  */
}

.col_x {
    width: 24%;
    margin-right: 1.33333333333333%;
    display: inline-block;
    float: left;
}

.col_y {
    width: 24%;
    display: inline-block;
    float: left;
}


/* typography */
#callout {
    font-weight: 400;
}

.profile h1 {
  padding-top: 2.5em;
  margin-bottom: .5em;
  color: purple;
  font-size: 1.71em;
  line-height: 1.49em;
  display: inline-block;
}

.profile li {
    font-weight: 300;
    color: purple; /*#777;*/
    font-size: 1.15em;
    line-height: 1.5em;
}

.profile h6 {
  color: purple;
  font-weight: 700;
}

/*FOOTER*/

.footer {
  display: inline-block;
  border-top: .5em solid #ccc;
  width: 100%;
  margin-top: 1.85em;
}

/* typography */
.footer h1 {
  padding-top: none;
  clear: all;
  width: 74.6666666666%;
  padding-top: .7em;
  margin-bottom: .5em;
  color: purple;
  font-size: 1.71em;
  line-height: 1.49em;
  display: inline-block;
}

/* underlined type */
.footer a {        
  color: gray;
  border-bottom: 1px dashed #c0160d;
  transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
}

.footer a:hover {        
  color: #bbb;
  border-bottom: 1px dashed #333;
}

/* copyright */
.footer h4 {
    color: #000;
}

.social {
  display: inline-block;
  width: 24%;
  float: right;
  padding-top: 1.3em;
}

/* social icons*/
.foot_twitter a, .foot_linkedin a {
    margin-left: .5em;
    float: left;
    width: 3%;
    padding-right: 33%;
    opacity: 0.675;
    border-bottom: none;
    transition: opacity .2s ease-in;
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
}

.foot_email a {
    float: left;
    width: 3%;
    opacity: 0.675;
    border-bottom: none;
    transition: opacity .2s ease-in;
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
}

/* social icons, positioning */
.foot_twitter a {
    padding-top: 7px;
}

.foot_linkedin a {
    padding-top: 4px;
}

.foot_email a {
    padding-top: 8px;
}

.foot_twitter a:hover , .foot_linkedin a:hover , .foot_email a:hover {
    opacity: 1.0;
    border-bottom: none;
}



/* R E S P O N S I V E  S T Y L E S */


/* Smartphones (portrait) ----------- */
@media (min-width: 320px) and (max-width: 604px)  {  

/* structure */
.wrapper {
    width: 90%;
}

.landing, .footer  {
/*  background-color: #009e6b;
*/}

.work  {
  height: 100vh;
  margin-top: 1.5em; /* on all projects */

}

.profile {
  height: 100vh;
}

.holder-a {
  width: 100%;
  height: 15em;
  background-color: #ddd;
  display: inline-block;
  float: left;
  margin-top: 1em;
}

.holder-b {
  width: 100%;
  height: 15em;
  background-color: #ddd;
  display: inline-block;
  float: left;
  margin-top: 1em;
}


#oneg, #mapk, #research, #print, #divine { 
  margin-top: -8%;
}

/* Main Nav Bar */
.logo {
  padding-left: .8em;
}

.mainnav a {
  color: #aaa;
  font-weight: 600;
  letter-spacing: .085em;
}

.mainnav li a {
  padding-left: 4.5%;
}

.landing h6, .footer h6, #nav_active, .work h6  {
    z-index: -2
}

/* typography */

.landing h1, .footer h1 {
  margin-top: 3.5%;
  font-size: 2.1em;
  }

.landing a, .footer a  {        
  border-bottom: none;
}

.landing a:hover, .footer a:hover {        
  border-bottom: none;
}

.btn {
  margin-top: 5%;
  width: 100.1%;
  background-color: #009e6b;  
  border: .1em solid #4EF2BC;
  border-radius: 0;
}

.btn:hover {
  background-color: #00af81;
  border-radius: none;
}

}


/* tablet (landscape) ----------- */
@media (min-width: 320px) and (max-width: 1036px)  {  

/* structure */
.wrapper {
    width: 90%;
}

.work  {
  margin-top: 2.75em; /* on all projects */
  height: 52em;
}

.landing h1 {
  font-size: 3.65em;
  line-height: 1.3em;
  padding-bottom: .75em;
}

.profile h1 {
  padding-top: 2.125em;
  margin-bottom: .5em;
  color: purple;
  font-size: 1.6em;
  line-height: 1.42em;
  display: inline-block;
}

/* sidebar w photo */
.profile_side {
  margin-top: 4em;
}

/* image position on the page */
#selfie {
  width: 10em;
  height: 10em;
}

/* image position within circle */
#selfie img{
    padding-top: 10px;
    margin-bottom: -5px;
    margin-left: -8px;
}

.profile li {
    font-weight: 300;
    color: purple; /*#777;*/
    font-size: 1em;
    line-height: 1.45em;
}

.footer h1 {
  padding-top: 1em;
  font-size: 1.6em;
  line-height: 1.42em;
}

/*  logo positioning within container  */
#oneguggenheim {
  padding-top: 24%;
}

#mapkeys {
  padding-top: 15%;
}

#researchportal {
  padding-top: 14%;
}

#dbn {
  padding-top: 15%;
}

#foundation {
  padding-top: 19%;
}

#placeholder {
}




}

