
/* --------------------------------------------
// !-- Reset
// ----------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 1em;
  background-color: #eee;

}


ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.group:after {
  display: table;
  clear: both;
  content: '';
}

a {
    text-decoration: none;
}





@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=3.2.1');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Guardian Light Web';
  src: url('../fonts/GuardianSans-Light-Web.eot');
  src: url('../fonts/GuardianSans-Light-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianSans-Light-Web.woff') format('woff'), url('../fonts/GuardianSans-Light-Web.ttf') format('truetype'), url('../fonts/GuardianSans-Light-Web.svg#Guardian Light Web') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Guardian Regular';
  src: url('../fonts/GuardianSans-Regular-Web.eot');
  src: url('../fonts/GuardianSans-Regular-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianSans-Regular-Web.woff') format('woff'), url('../fonts/GuardianSans-Regular-Web.ttf') format('truetype'), url('../fonts/GuardianSans-Regular-Web.svg#Guardian TextSans Web') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; 
}

@font-face {
  font-family: 'Guardian Medium';
  src: url('../fonts/GuardianSans-Medium-Web.eot');
  src: url('../fonts/GuardianSans-Medium-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianSans-Medium-Web.woff') format('woff'), url('../fonts/GuardianSans-Medium-Web.ttf') format('truetype'), url('../fonts/GuardianSans-Medium-Web.svg#Guardian TextSans Web') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal; 
}


@font-face {
  font-family: 'Egyptian Regular';
  src: url('../fonts/GuardianEgyp-Regular-Web.eot');
  src: url('../fonts/GuardianEgyp-Regular-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianEgyp-Regular-Web.woff') format('woff'), url('../fonts/GuardianEgyp-Regular-Web.ttf') format('truetype'), url('../fonts/GuardianEgyp-Regular-Web.svg#Guardian Text Egyptian Web') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Egyptian Medium';
  src: url('../fonts/GuardianEgyp-Medium-Web.eot');
  src: url('../fonts/GuardianEgyp-Medium-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianEgyp-Medium-Web.woff') format('woff'), url('../fonts/GuardianEgyp-Medium-Web.ttf') format('truetype'), url('../fonts/GuardianEgyp-Medium-Web.svg#Guardian Text Egyptian Web') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}


section {
  color: pink;
  display: table;
  min-width: 100%;
  height: 180vh;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}


/* LOGIN LEVEL NAVIGATION */
/* solid bar */
.nav-login {
  background-color: #51284f;
  height: 2.25em;
  position: fixed;
  min-width: 100%;
  z-index: 2000;
}

/* links, box elements */
.nav-login li {
  display: inline-block;
  line-height: 2.2em;
  -webkit-transition: all .35s;
  padding-left: 3em;
}

/* links, type styles */
.nav-login a {
  font-family: 'Guardian Regular';
  font-size: 14px; 
  color: #867484;
  letter-spacing: .025em;
  -webkit-transition: all .35s;
}

.nav-login a:hover {
  color: #aaa;
}

/* investor type, increased padding */
.nav-login li:first-child {
  padding-right: 3.2em;
  padding-left: 0em;
}

/* GP.com links */
.secondary {
  float: right;
}


i {
  padding-left: 1em;  
}

.nav-login.sticky {
  display: none;
}

/*– – – – – – – – – – – – – – – – – – – – */

/* MAIN NAVIGATION */
/* solid bar */
.nav-one {
  border-top: solid 1px #41203f;
  background-color: #51284f;
  color: white;
  text-align: left;
  display: table;
  position: fixed;
  min-width: 100%;
  height: 5em;
  margin-top: 2.25em;
  z-index: 1;
  -webkit-transition: all .3s;
}

.nav-one a {
  font-family: 'Guardian Light Web';
  font-size: 13px; 
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .125em;
  -webkit-transition: all .35s;
}

.nav-one a:hover {
  color: #bbb;
}

.nav-one li {
  display: inline-block;
  padding-right: 3em;
  padding-top: 1.83em;
}

.nav-one .secondary{
  padding-right: 0em;
}

section:nth-of-type(2n) {
/*  border-top: 1px solid #ddd;
*/  background-color: #fff;
}

.nav-one.sticky {
  top: -2.25em;
  z-index: 20;
  background-color: #51284f;
  height: 3.75em;
}

.nav-one.sticky li {
  padding-top: 1.5em;
}

.nav-one.sticky #navstatic {
  display: none;
}


#navscroll li {
  font-family: 'Guardian Light Web';
  font-size: 13px; 
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .125em;
  display: inline-block;
  text-align: baseline;
  padding-right: 0em;
  padding-top: 1.65em;
  -webkit-transition: all .35s;
}

/*  literature-type  */
#navscroll a {
  color: #fff;
  padding-right: .75em;
}

#navscroll a:hover {
  color: red;
}

/*  position of literature + icon  */
.secondary-scroll {
  float: right;
  margin-top: .15em;
}

/*  position icon  */
.secondary-scroll img {
  float: right;
  margin-top: -.2em;
}




/* ticker and name hidden until scroll */
.nav-one #navscroll {
  display: none;
}

.nav-one.sticky #navscroll {
  display: inline-block;
  min-width: 100%;
}

/* ticker in solid bar */
.ticker {
  font-family: 'Egyptian Medium';
  letter-spacing: .1em;
  padding-right: .5em;
}

/* product name in solid bar */
#navscroll h4 {
  font-family: 'Guardian Light Web';
  font-size: 18px; 
  color: #fff;
  text-transform: none;
  letter-spacing: 0.05em;
}

h5 {
  font-family: 'Guardian Light Web';
  font-size: 17px; 
  color: #fff;
  text-transform: none;
  letter-spacing: 0.03em;
}

.hero {
  background-color: #fff;
}

.sect-one {
  background-color: #fff;
  padding-left: 10.1%;
  padding-right: 10%;
  padding-top: 2em;
  z-index: 1;
}

p {
  width: 55%;
  font-family: 'Guardian Regular';
  font-size: 1em; 
  color: #777;
  text-transform: none;
  line-height: 1.6em;
  padding-bottom: 1em;
  letter-spacing: 0.02em;

}

h3 {
  color: #51284f;
  padding-bottom: 4px;
  font-family: 'Guardian Light Web';
  letter-spacing: 0.05em;
  font-size: 1.2em;
  padding-top: 20px;
}

.hero {
  color: #fff;
  min-width: 100%;
  height: 17em;
  z-index: 1;
  padding-top: 8.5em;
}

.ticker-search {
  float: right;
  z-index: 1;
  display: inline-block;
  border: 1px solid #ddd;
/*  padding: .5em .8em;
*/  background-color: white;
  -webkit-transition: all .35s;
}

.ticker-search i {
  float: right;
}

.ticker-search h5 {
  width: 280px;
  color: #ccc;
  padding: .5em .8em;
  -webkit-transition: all .35s;
}

.ticker-search h5:hover {
  color: #51284f;
}




/*– – – – – – – – – – – – – – – – – – – – */

/* PRODUCT NAV */

.empty{
  background-color: white;
}


.nav-product.sticky {
  background-color: white;
  position: fixed;
  top: 3.78em;
  width: 80%;
  border-bottom: 1px solid #ddd;
}

/*.nav-product ul {
  background-color: red;
}*/


.nav-product a {
  font-family: 'Guardian Regular';
  font-size: 13px; 
  color: #5E8AB4;
  text-transform: uppercase;
  letter-spacing: .075em;
}

.nav-product li {
  display: inline-block;
  line-height: 3em;
  width: 19.5%;
  border-bottom: 1px solid #eee;
  -webkit-transition: all .35s;
}

.nav-product li:hover {
  border-bottom: 1px solid #5E8AB4;
  cursor: pointer;
}

section h1 {
  display: block;
  font-size: 56px;
}

.breadcrumb {
  padding-top: .5em;
  display: inline-block;
}

.breadcrumb a {
  font-family: 'Guardian Regular';
  font-size: 11px; 
  color: #656569;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.breadcrumb a:hover {
  color: #adaeb0;
}

.product-name {
  margin-top: 4em;
  width: 60%;
  width: 700px;
  display: inline-block;
}

.product-name h1 {
  font-family: 'Egyptian Medium';
  font-size: 34px; 
  color: #51284f;
  text-transform: none;
  letter-spacing: 0.03em;
  line-height: 1.1em;
}

.product-name h2 {
  font-family: 'Guardian Light Web';
  font-size: 34px; 
  color: #51284f;
  text-transform: none;
  letter-spacing: 0.03em;
  line-height: 1.1em;
}


/*  P R I C I N G  W I D G E T  */

.pricing {
  display: inline-block;
  margin-top: -7em;
/*  background-color: pink;
*/  width: 304px;
  padding: 0em 0em 2em 0em;
  float: right;
}

.pricing-top {
/*  background-color: gold;
*/  padding-bottom: .4em;
  border-bottom: 1px solid #ddd;
}

.pricing-top h5, h6 {
  display: inline-block;
}

.pricing-top h6 {
  float: right;
}

.pricing-nav, .pricing-change {
  width: 50%;
  float: left;
  border-bottom: 1px solid #ddd;
  padding-top: 1em;
  padding-bottom: 1em;
}

.pricing h4 {
  padding-bottom: .25em;
}

.pricing-nav, .pricing-main h5 { 
  color: #51284f;
}

h4 {
  font-family: 'Guardian Light Web';
  font-size: 21px; 
  color: #656569;
  text-transform: uppercase;
}


h5 {
  font-family: 'Guardian Regular';
  font-size: 13px; 
  color: #656569;
  text-transform: uppercase;
  letter-spacing: .125em;
}

h6 {
  font-family: 'Guardian Regular';
  font-size: 13px; 
  color: #adaeb0;
}
